<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Tracker</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .nav-logo{
            width: 15vw;
            height: 10vw;
            min-width: 150px;
            min-height: 120px;
            position:absolute;
            z-index:10;
            top:41px;
        }

        .navlistitems{
            font-size:1.2em;
        }

        .reglinks{
            float:right;
            padding-left: 30vw;
        }
        .navlistitemcontainer{
            padding-left:15vw;
        }
    </style>
</head>
<body><header>
    <a class="navbar-brand logo" href="#"><img class="nav-logo" src="~/Content/Images/Logo.png" /></a>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="collapsibleNavbar">
            <div class="navlistitemcontainer"></div>
            <ul class="navbar-nav navlistitems">
                <li class="nav-item nav-link">
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="nav-item nav-link">
                    @Html.ActionLink("About", "About", "Home")
                </li>
                <li class="nav-item nav-link">
                    @Html.ActionLink("Contact", "Contact", "Home")
                </li>
                <li class="nav-item nav-link">
                    @Html.ActionLink("Direction", "Index", "Direction")
                </li>
                <li class="nav-item nav-link">
                    @Html.ActionLink("Ingredients", "Index", "Ingredient")
                </li>
                <li class="nav-item nav-link">
                    @Html.ActionLink("Users", "Index", "User")
                </li>
                <li class="nav-item nav-link">
                    @Html.ActionLink("Recipes", "Index", "Recipe")
                </li>
                <li class="nav-item nav-link">
                    @Html.ActionLink("EditDisplay", "EditDisplay", "Recipe")
                </li>

            </ul>
            <div class="float-lg-right reglinks">
                @Html.Partial("_LoginPartial")
            </div>

        </div>
    </nav>
</header>
<div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
