@model RecipeTracker.Models.UserRecipesViewModel

@{

    ViewBag.Title = "List User Recipes";
   
}
  

    <section class="jumbotron-fluid"><h2>List User Recipes for @Model.User.FullName</h2></section>

<div>
    
    @foreach (var item in Model.User.Recipes)
    {
          
        <h3>@item.Name</h3>
        <div>@item.CuisineType</div>
        if (!String.IsNullOrWhiteSpace(item.URL))
        { <div> @item.URL</div>}
        <div><h4>Rating: </h4><span>@item.Rating</span></div>
        <div>
            <h3>Ingredients</h3>
            <div>
                @{foreach (var i in item.Ingrdients)
                    {
                        if (item.RecipeID == i.RecipeID)
                        {
                            
                            <div><span>@i.Name</span><span>@i.Quantity</span></div>

                        }
                    }
                }
            </div>
        </div>

    <div>
        <h3>Directions</h3>
        <div>
            @{ item.Directions.OrderBy(d => d.StepNum);}
                @foreach (var d in item.Directions)
                {
                    <div><span>@d.StepNum</span><span>    @d.Instruction</span></div>
                }
               
            </div>
    </div>
}
</div>
